<div ng-controller="populationCtrl" id="game-mode-panel" class="panel">
	<div ng-if="data.populationsLoading"
		class="panel--button panel--button__single
			fa fa-spinner fa-spin fa-3x">
	</div>
	<p ng-if="data.populationsError">
		Failed to retrieve data. Try refreshing the page, or failing that, rolling on the floor	and crying.
	</p>
	<div ng-if="data.populations">
		<select name=populationSelector ng-model="data.selectedMode"
			ng-options="mode for mode in data.populations.keys()|iterToArray"
			ng-disabled="editModeOn"
			class="panel--button panel--button__single">
			<option disabled="true" value="">-- Select Game Mode --</option>
		</select>
		<button class="panel--button panel--button__single"
			ng-show="data.selectedMode == 'Custom'"
			jpl-toggle toggle-state="editModeOn"
			toggle-action="broadcastEditMode(editModeOn)"
			off-text="Edit Population" on-text="Done Editing">
		</button>
		<ul class="persona-list">
			<li ng-repeat="persona in data.populations.get(data.selectedMode) track by $index + persona.name">
				<p ng-bind-html='persona.name|salemifyText'></p>
				<button ng-if="editModeOn" ng-click="removeFromCustom($index)">Remove</button>
			</li>
		</ul>
	</div>
</div>