
/*****************************
	BEGIN Role Selector styles
*****************************/
.role-selector {
	background-color: beige;
	width: 480px;
}

/* Role names are linked to the relevant wiki page,
but it is preferred they don't appear as links. */
.role-selector a {
	color: inherit;
	text-decoration: inherit;
}

.role-selector--button-row {
	display: block;
}

.role-selector--button {
	display: inline-block;
	padding: 5px 0px;
	font-size: 1.5em;
	text-align: center;
}

/* Set width for row with 2 buttons */
.role-selector--button__double {
	width: 240px;
}

/* Set width for row with 3 buttons */
.role-selector--button__triple {
	width: 160px;
}

/* Shadow effect: "Hit The Floor", found at
http://www.hongkiat.com/blog/css-text-effects/ */
.role-selector--button__pressed {
	font-weight: bold;
	background-color: burlywood;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
/***************************
	END Role Selector styles
***************************/


/*************************************************
	BEGIN Role text color styles
	These colors conform to Town of Salem styling.
	Hex values were identified by page source from
	town-of-salem.wikia.com
*************************************************/
.role-text--any {
	/* Should be white, but doesn't show up well */
}
.role-text--category {
	color: #49A9D0;
}
.role-text--town {
	color: #45BF00;
}
.role-text--mafia {
	color: #DD0000;
}
.role-text--neutral {
	color: #ACACAC;
}
.role-text--amnesiac {
	color: #4FF0E8;
}
.role-text--arsonist {
	color: #EE7600;
}
.role-text--executioner {
	color: #ACACAC;
}
.role-text--jester {
	color: #F49FD0;
}
.role-text--serial-killer {
	color: #000080;
}
.role-text--survivor {
	color: #C8C800;
}
.role-text--vampire {
	color: #7B8867;
}
.role-text--werewolf {
	color: #744A26;
}
.role-text--witch {
	color: #BF5FFF;
}
/*****************************
	END Role text color styles
*****************************/