
/*********************
	BEGIN Panel styles
*********************/
.panel {
	background-color: beige;
	width: 480px;
	display: inline-block;
	vertical-align: top;
	padding-right: 10px;
}

h2.panel--header {
	width: auto;
	text-align: center;
}

.panel--button-row {
	display: block;
}

.panel--button {
	display: inline-block;
	padding: 5px 0px;
	font-size: 1.5em;
	text-align: center;
}

/* Set width for row with 1 button */
.panel--button__single {
	width: 480px;
}

/* Set width for row with 2 buttons */
.panel--button__double {
	width: 240px;
}

/* Set width for row with 3 buttons */
.panel--button__triple {
	width: 160px;
}

/* Shadow effect: "Hit The Floor", found at
http://www.hongkiat.com/blog/css-text-effects/ */
.panel--button__pressed {
	font-weight: bold;
	background-color: burlywood;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
/******************************
	END Panel styles
******************************/


/****************************
	BEGIN Persona list styles
****************************/

ul.persona-list {
	list-style-type: none;
}

ul.persona-list li {
	display: flex;
	justify-content: flex-end;
}

ul.persona-list li p {
	margin-top: 8px;
	margin-bottom: 8px;
}

ul.persona-list li button {
	margin-left: 8px;
}

/* Persona names are linked to the relevant wiki page,
but it is preferred they don't appear as links. */
ul.persona-list a {
	color: inherit;
	text-decoration: inherit;
}

/**************************
	END Persona list styles
**************************/


/***************************
	BEGIN Player list styles
***************************/

ul.player-list {
	list-style-type: none;
}

.player-list-number {
	font-weight: bold;
}

.player-list-number__dead {
	color: #ACACAC;
}

.player-name__dead {
	color: #ACACAC;
}

/*************************
	END Player list styles
*************************/


/*************************************************
	BEGIN Persona text color styles
	These colors conform to Town of Salem styling.
	Hex values were identified by page source from
	town-of-salem.wikia.com
*************************************************/
.persona-text--any {
	/* Should be white, but doesn't show up well */
}
.persona-text--category {
	color: #49A9D0;
}
.persona-text--town {
	color: #45BF00;
}
.persona-text--mafia {
	color: #DD0000;
}
.persona-text--neutral {
	color: #ACACAC;
}
.persona-text--amnesiac {
	color: #4FF0E8;
}
.persona-text--arsonist {
	color: #EE7600;
}
.persona-text--executioner {
	color: #ACACAC;
}
.persona-text--jester {
	color: #F49FD0;
}
.persona-text--serial-killer {
	color: #000080;
}
.persona-text--survivor {
	color: #C8C800;
}
.persona-text--vampire {
	color: #7B8867;
}
.persona-text--werewolf {
	color: #744A26;
}
.persona-text--witch {
	color: #BF5FFF;
}
/********************************
	END Persona text color styles
********************************/
