
/*********************
	BEGIN Panel styles
*********************/
.panel {
	background-color: beige;
	width: 480px;
	display: inline-block;
	vertical-align: top;
	padding-right: 10px;
}

h2.panel--header {
	width: auto;
	text-align: center;
}

.panel--button-row {
	display: block;
}

.panel--button {
	display: inline-block;
	padding: 5px 0px;
	font-size: 1.5em;
	text-align: center;
}

/* Set width for row with 1 button */
.panel--button__single {
	width: 480px;
}

/* Set width for row with 2 buttons */
.panel--button__double {
	width: 240px;
}

/* Set width for row with 3 buttons */
.panel--button__triple {
	width: 160px;
}

/* Shadow effect: "Hit The Floor", found at
http://www.hongkiat.com/blog/css-text-effects/ */
.panel--button__pressed {
	font-weight: bold;
	background-color: burlywood;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
/******************************
	END Panel styles
******************************/


/****************************
	BEGIN Persona list styles
****************************/

ul.persona-list {
	list-style-type: none;
}

ul.persona-list li {
	display: flex;
	justify-content: flex-end;
}

ul.persona-list li p {
	margin-top: 8px;
	margin-bottom: 8px;
}

ul.persona-list li button {
	margin-left: 8px;
}

/* Persona names are linked to the relevant wiki page,
but it is preferred they don't appear as links. */
ul.persona-list a {
	color: inherit;
	text-decoration: inherit;
}

/**************************
	END Persona list styles
**************************/


/***************************
	BEGIN Player list styles
***************************/

ul.player-list {
	list-style-type: none;
}

.player-list-number {
	font-weight: bold;
}

.player-list-number__dead {
	color: #ACACAC;
}

.player-name__dead {
	color: #ACACAC;
}

/*************************
	END Player list styles
*************************/


/*************************
	BEGIN Event Log styles
*************************/

ul.event-log {
	list-style-type: none;
}

.event-string {
	margin-left: 4px;
}

/*************************
	END Event Log styles
*************************/


/****************************
	BEGIN Clock list styles
****************************/

.clock-control {
	display: inline-block;
}
.clock-control p {
	display: inline;
}

/**************************
	END Clock list styles
**************************/


/**************************************************
	BEGIN Salem color and font styles
	These colors conform to Town of Salem styling.
	Hex values were identified by page source from
	town-of-salem.wikia.com, in conjunction when
	necessary with the helpful color picker tool at
	http://html-color-codes.info/colors-from-image/
**************************************************/
.salem-text {
	font-weight: bold;
}
.salem-text--any {
	text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
	color: white;
}
.salem-text--category {
	color: #49A9D0;
}
.salem-text--town {
	color: #45BF00;
}
.salem-text--mafia {
	color: #DD0000;
}
.salem-text--neutral {
	color: #ACACAC;
}
.salem-text--amnesiac {
	color: #4FF0E8;
}
.salem-text--arsonist {
	color: #EE7600;
}
.salem-text--executioner {
	color: #ACACAC;
}
.salem-text--jester {
	color: #F49FD0;
}
.salem-text--serial-killer {
	color: #000080;
}
.salem-text--survivor {
	color: #C8C800;
}
.salem-text--vampire {
	color: #7B8867;
}
.salem-text--werewolf {
	color: #744A26;
}
.salem-text--witch {
	color: #BF5FFF;
}
.salem-text--innocent {
	color: #66FF66;
}
.salem-text--guilty {
	color: #FF0000;
}
.salem-text--abstain {
	color: #66CCFF;
}

.vote-button {
	text-transform: capitalize;
}
.vote-button--selected {
	font-weight: bold;
}
.vote-button--accusing {
	font-weight: bold;
	color: darkgreen;
}
/**********************************
	END Salem color and font styles
***********************************/


/***************************
	BEGIN Vote button styles
***************************/
.vote-button {
	text-transform: capitalize;
}
.vote-button--selected {
	font-weight: bold;
}
.vote-button--accusing {
	font-weight: bold;
	color: darkgreen;
}
/*************************
	END Vote button styles
*************************/


/*********************
	BEGIN Modal styles
*********************/

.ng-modal-overlay {
/* A dark translucent div that covers the whole screen */
	position:fixed;
	z-index:9999;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#000000;
	opacity: 0.8;
}

.ng-modal-dialog {
/* A centered div above the overlay with a box shadow. */
	z-index:10000;
	position: fixed;
	width: 50%; /* Default */
	overflow-y: scroll;

/* Center the dialog */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);

	background-color: #fff;
	box-shadow: 4px 4px 80px #000;
}

.ng-modal-dialog-content {
	padding:10px;
	text-align: left;
}

/*******************
	END Modal styles
*******************/