{% extends 'layout.html' %}
{% block body %}
<body class="wall-of-text">
	<h1>About Salem's Little Helper</h1>
	<h2>What is this?</h2>
	<p>
		Salem's Little Helper, is a clicky web thingy that acts as your trusted companion as you seek out enemies in Salem. For now, it remembers so you don't have to. Later, it might think for you, too, keeping your story straight or finding contradictions in someone else's.
	</p>
	<h2>How does it work?</h2>
	<a href="/docs">Read all about it!</a>
	<h2>Who did this?</h2>
	<p>
		salemtools is open-source, started by a combination gaming enthusiast / inexperienced web developer. <a href="/contact">Feedback and contributions are welcome.</a>
	</p>
	<h2>But why...?</h2>
	<p>The goal is is to allow players to focus on the true spirit of the game - all-encompassing paranoia and the destruction of all you hold dear in a frantic effort to save what little you can.</br>Skilled play requires memorizing a lot of information or keeping a few wiki pages open, and often requires both. Salem's Little Helper doesn't solve either problem <i>yet</i>, but hopefully it can still be, well, a little helpful.</p>
</body>
{% endblock %}