<!DOCTYPE html>
<html ng-app="salemApp">
<head>
	<title>Salem</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/salem.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/angular.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/salemApp.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/filters.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/services.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/directives.js') }}"></script>
</head>
<body>
	<div ng-controller="mainCtrl">
		<div class="column">
			<h3>Roles</h3>
			<div ng-repeat="roleDesc in descriptions|descSpec:[3]"
			ng-class="(roleDesc == selectedRole) ? 'selected' : ''"
			ng-click="selectRole(roleDesc)">
				<p role=""></p>
			</div>
		</div>
		<div class="column">
			<h3>Alignments</h3>
			<div ng-repeat="roleDesc in descriptions|descSpec:[0,1,2]:true"
			ng-class="(roleDesc == selectedAlignment) ? 'selected' : ''"
			ng-click="selectAlignment(roleDesc)">
				<p role=""></p>
			</div>
		</div>
		<div class="column">
			<h3>Match?</h3>
			<p>{[selectedRole.name]}</p>
			<p roleDesc=""></p>
			<p ng-show="selectedRole.match(selectedAlignment)">
				MATCHES
			</p>
			<p ng-hide="selectedRole.match(selectedAlignment)">
				DOES NOT MATCH
			</p>
			<p>{[selectedAlignment.team]} {[selectedAlignment.category]}</p>
		</div>
	</div>
</body>
</html>

