<!DOCTYPE html>
<html ng-app="salemApp">
<head>
	<title>Salem</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/salem.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/angular.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/salemApp.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/filters.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/services.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/directives.js') }}"></script>
</head>
<body>
	<div class="panel-group">
		<div ng-controller="personasCtrl" class="panel">
			<div class="panel--button-row">
				<div ng-class="'panel--button ' +
					'panel--button__triple ' +
					'panel--button__' +
					(val == teamRest ? 'pressed persona-text--' + val.toLowerCase() : 'unpressed')"
					ng-repeat="val in teamRestValues"
					ng-click="updateTeamRest(val)">
					{[val]}
				</div>
			</div>
			<div class="panel--button-row">
				<div ng-class="'panel--button ' +
					'panel--button__double ' +
					'panel--button__' +
					(val == specRest ? 'pressed' : 'unpressed')"
					ng-repeat="val in specRestValues"
					ng-click="updateSpecRest(val)">
					{[val]}
				</div>
			</div>
			<ul class="persona-list">
				<li ng-repeat="persona in personas.values()|iterToArray|specOnly:specRest|teamOnly:teamRest">
					<p persona="true" link-to-wiki="true"></p>
					<button ng-if="showAddToCustomButton"
						ng-click="addToCustom(persona)">
						Add to Custom Game
					</button>
				</li>
			</ul>
		</div>
		<div ng-controller="populationCtrl" id="game-mode-panel" class="panel">
			<select name=populationSelector ng-model="gameMode"
				ng-options="mode for mode in populations.keys()|iterToArray"
				ng-disabled="editModeOn"
				class="panel--button panel--button__single">
				<option disabled="true" value="">-- Select Game Mode --</option>
			</select>
			<button class="panel--button panel--button__single"
				ng-show="gameMode == 'Custom'"
				jpl-toggle toggle-state="editModeOn"
				toggle-action="broadcastEditMode(editModeOn)"
				off-text="Edit Population" on-text="Done Editing">
			</button>
			<ul class="persona-list">
				<li ng-repeat="persona in populations.get(gameMode) track by $index + persona.id">
					<p persona="true"></p>
					<button ng-if="editModeOn" ng-click="removeFromCustom($index)">Remove</button>
				</li>
			</ul>
		</div>
		<div ng-controller="playerRosterCtrl" id="player-roster" class="panel">
			<h2 class="panel--header">Player List</h2>
			<button class="panel--button panel--button__single"
				ng-disabled="data.editingNameAt != -1"
				jpl-toggle toggle-state="editAllNamesMode"
				off-text="Edit All Names" on-text="Done Editing">
			</button>
			<ul class="player-list">
				<li ng-repeat="player in data.playerRoster">
					<button class="fa fa-remove" tabindex="-1"
						ng-click="killPlayer(player)"
						ng-disabled="!player.alive">
					</button>
					<button tabindex="-1"
						ng-class="'fa ' + (data.editingNameAt == player.number ?
						'fa-check' : 'fa-pencil')"
						ng-disabled="editAllNamesMode ||
						data.editingNameAt != -1 && data.editingNameAt != player.number"
						ng-click="switchEditingNameAt(player.number)">
					</button>
					<span ng-class="player.alive ? 'player-list-number' : 'player-list-number__dead'">
						{[(player.number)|padNumberText:2]}
					</span>
					<span
						ng-class="player.alive ? 'player-name' : 'player-name__dead'"
						ng-hide="editAllNamesMode || data.editingNameAt == player.number">
						{[player.name]}
					</span>
					<input type="text"
						ng-if="$first"
						ng-show="editAllNamesMode"
						ng-model="player.name"
						jpl-focus focus-watch-property="editAllNamesMode" focus-select="true">
					</input>
					<input type="text"
						ng-if="$first"
						ng-show="data.editingNameAt == player.number"
						ng-model="player.name"
						ng-keypress="$event.which === 13 && switchEditingNameAt(player.number)"
						jpl-focus focus-watch-property="data.editingNameAt"
						focus-when-value-is="player.number" focus-select="true">
					</input>
					<input type="text"
						ng-if="!$first"
						ng-show="editAllNamesMode || data.editingNameAt == player.number"
						ng-model="player.name"
						ng-keypress="$event.which === 13 && !editAllNamesMode && switchEditingNameAt(player.number)"
						jpl-focus focus-watch-property="data.editingNameAt"
						focus-when-value-is="player.number" focus-select="true">
					</input>
				</li>
			</ul>
			<h2 class="panel--header">Graveyard</h2>
			<ul class="player-list">
				<li ng-repeat="player in data.graveyard">
					<button class="fa fa-refresh"
						ng-click="revivePlayer(player)">
					</button>
					<span class="player-list-number">
						{[player.number|padNumberText:2]}
					</span>
					<span class="player-name">{[player.name]}</span>
				</li>
			</ul>
		</div>
		<div ng-controller="gameEventLogCtrl" class="panel">
			<h2 class="panel--header">Game Event Log</h2>
			<ul class="event-log">
				<li ng-repeat="event in data.eventLog">
					{[event.toString()]}
				</li>
			</ul>
		</div>
	</div>
</body>
</html>

