<!DOCTYPE html>
<html ng-app="salemApp">
<head>
	<title>Salem</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/salem.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/angular.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/salemApp.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/filters.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/services.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/directives.js') }}"></script>
</head>
<body>
	<div ng-controller="mainCtrl">
		<div class="column">
			<div class="column">
				<h3>Restrictions</h3>
				<div class="row" ng-repeat="val in specRestValues">
					<button type="button" ng-click="updateSpecRest(val)">{[val]}</button>
				</div>
				<div class="row" ng-repeat="val in teamRestValues">
					<button type="button" ng-click="updateTeamRest(val)">{[val]}</button>
				</div>
			</div>
			<h3>Roles</h3>
			<div ng-repeat="roleDesc in descriptions|restrictTo:specRest|teamOnly:teamRest"
			ng-class="(roleDesc == selectedRole) ? 'selected' : ''"
			ng-click="selectRole(roleDesc)">
				<p role=""></p>
			</div>
		</div>
	</div>
</body>
</html>

