{% extends 'layout.html' %}
{% block body %}
<body class="wall-of-text">
	<h1>Thanks!</h1>
	<p>
		Salem's Little Helper is built on the shoulders of giants, and those giants deserve the credit for making it possible and/or worthwhile.
	</p>
	<h3><a href="https://www.blankmediagames.com/">BlankMediaGames</a></h3>
	<p>
		First and foremost, thanks to these guys for creating and maintaining their Town of Salem game. Mob hysteria has never been more fun!
	</p>
	<p>
		Disclaimer: BlankMediaGames neither endorses nor condones this tool.
	</p>
	<h3><a href="http://town-of-salem.wikia.com/">The ToS Wikia</a></h3>
	<p>
		Thanks to the wiki and all its contributors.
	</p>
	<h3>
		<a href="https://flask.pocoo.org/">Flask</a>,
		<a href="https://angularjs.org/">AngularJS</a>, and
		<a href="httpw://fontawesome.io/">FontAwesome</a></h3>
	<p>
		Thanks to the creators of these technologies and tools. They are the guts of this silly little webpage.
	</p>
	<h3><a href="https://futurecop.bandcamp.com/">Futurecop!</a></h3>
	<p>
		Through Futurecop!, the glittery spirit of the 1980's has been channeled into furious spurts of productivity. These tunes are awesome. Awesome to the max!
	</p>
	<h3>You!!!</h3>
	<p>
		Thanks for checking this out! If you have any feedback, <a href="/contact">please share</a>! Good luck out there!</p>
</body>
{% endblock %}